NEXT_PUBLIC_AUTH_APP_URL="http://localhost:3000"

REDIS_URL="get-redis-url-from-redis-console or redis://localhost:6379"
REDIS_PASSWORD="get-redis-password-from-redis-console"

DATABASE_URL="postgresql://db_username:db_password@db_host:db_port/db_name?schema=public"

NEXT_PUBLIC_FIREBASE_API_KEY="get-api-key-from-firebase-console"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="get-auth-domain-from-firebase-console"
NEXT_PUBLIC_FIREBASE_APP_NAME="get-app-name-from-firebase-console"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="get-project-id-from-firebase-console"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="get-storage-bucket-from-firebase-console"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="get-messaging-sender-id-from-firebase-console"
NEXT_PUBLIC_FIREBASE_APP_ID="get-app-id-from-firebase-console"
NEXT_PUBLIC_FIREBASE_MEASUREMENTID="get-measurement-id-from-firebase-console"

FIREBASE_PROJECT_ID="get-project-id-from-firebase-console"
FIREBASE_CLIENT_EMAIL="get-email-from-firebase-console"
FIREBASE_PRIVATE_KEY="get-private-key-from-firebase-console"
